p{
    color: brown;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

body{
    background-image: url('../Image/Ghibli\ 1080P\,\ 2K\,\ 4K\,\ 5K\ HD\ wallpapers\ free\ download.png');
    background-position: center;
    background-attachment: fixed;
    margin: 0cm 3cm;
}

fieldset, legend{
    border: red groove 5px;
    border-radius: 10px;
}

legend{
    padding: 10px;
    background-color: white;
    color: red;
    font-weight: bold;
    font-size: 14pt;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    
}

div#menu {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px   ;
}